---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "../fundations/elements/Text.astro";
const { url, title, image, year, location } = {
  url: "/projects/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  image: Astro.props.post.data.cover?.url || "/images/placeholder.jpg",
  year: Astro.props.post.data.year,
  location: Astro.props.post.data.location
};
---

<article class="group relative">
  <a
    href={url}
    title={`View project: ${title}`}
    aria-label={`View project: ${title}`}
    class="absolute inset-0 z-10"></a>

  <Image
    src={image}
    alt={title || " "}
    inferSize
    class="aspect-square w-full rounded-2xl object-cover object-center lg:aspect-9/12"
  />

  <div class="mt-4">
    <Text tag="h3" variant="textXLG" class="text-base-900 font-medium text-balance">{title}</Text>
    <div class="text-base-600 mt-1 flex items-center gap-2 text-sm">
      <span>{year}</span>
      <span>•</span>
      <span>{location}</span>
    </div>
  </div>
</article>
