---
// Fundations
import Text from "../fundations/elements/Text.astro";
import Kicker from "../fundations/elements/Kicker.astro";
import Button from "../fundations/elements/Button.astro";
import RollingLink from "../fundations/elements/RollingLink.astro";
import Wrapper from "../fundations/containers/Wrapper.astro";
// Components
import ProjectCard from "../projects/ProjectCard.astro";
// Icons
import ArrowLeft from "../fundations/icons/ArrowLeft.astro";
import ArrowRight from "../fundations/icons/ArrowRight.astro";
import { storyblokEditable } from "@storyblok/astro";

// Content

const { blok } = Astro.props;
const projects = blok.projects;
---

<section class="overflow-hidden" {...storyblokEditable(blok)}>
  <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-12">
    <div>
      <Kicker copy={blok.tagline} />
      <Text
        tag="p"
        variant="displayLG"
        class="text-base-900 mt-6 font-medium tracking-tight lg:text-balance">
        {blok.title}
      </Text>
      <RollingLink
        href={blok.linkUrl.story ? `/${blok.linkUrl.story.full_slug}` : blok.linkUrl.url}
        initialText={blok.linkInitialText}
      />
    </div>

    <div
      class="keen-slider__container mt-12 grid grid-cols-1 items-start gap-x-4 gap-y-4 lg:grid-cols-12">
      <div class="hidden">
        {projects.map((project) =>(
          <div class="data-project-title">
            {project.title}
          </div>
          <div class="data-project-description">
            {project.description}
          </div>
        ))}
      </div>
      <div
        class="bg-base-50 order-last flex h-full w-sm max-w-full flex-col justify-between rounded-xl p-4 lg:order-first lg:col-span-3 xl:px-4 xl:py-8">
        <div>
          <Text
            tag="h3"
            variant="textXLG"
            class="text-base-900 mt-8 font-medium text-balance"
            id="project-title">
            {blok.projects[0].title}
          </Text>
          <Text tag="p" variant="textSM" class="text-base-600 mt-1" id="project-description">
            {blok.projects[0].description}
          </Text>
        </div>
        <div class="mt-8 flex gap-2">
          <Button
            size="xs"
            variant="muted"
            iconOnly
            aria-label="Précédent"
            id="keen-slider__previous">
            <ArrowLeft size="base" slot="icon" />
          </Button>
          <Button size="xs" variant="muted" iconOnly aria-label="Suivant" id="keen-slider__next">
            <ArrowRight size="base" slot="icon" />
          </Button>
        </div>
      </div>
      <div class="lg:col-span-8 lg:col-start-5">
        <div class="keen-slider overflow-hidden rounded-xl">
          {projects.map((project) => <ProjectCard post={project} />)}
        </div>
      </div>
    </div>
  </Wrapper>
</section>

<script define:vars={{ projects }}>
  window.projects = projects;

</script>

<script>
  import "keen-slider/keen-slider.min.css";
  import KeenSlider from "keen-slider";

  const containers = document.querySelectorAll(".keen-slider__container");
  containers.forEach((container) => {
    const slider = container.querySelector(".keen-slider");
    const keenSlider =new KeenSlider(slider, {
      loop: true,
      slides: {
        origin: "auto",
        perView: 1.25,
        spacing: 8
      },
      breakpoints: {
        "(min-width: 1024px)": {
          slides: {
            origin: "auto",
            perView: 1.3,
            spacing: 16
          }
        }
      }
    });
    const keenSliderPrevious = container.querySelector("#keen-slider__previous");
    const keenSliderNext = container.querySelector("#keen-slider__next");
    keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
    keenSliderNext.addEventListener("click", () => keenSlider.next());
    const titleEl = container.querySelector("#project-title");
    const descriptionEl = container.querySelector("#project-description");
    const dataTitles = container.querySelectorAll(".data-project-title");
    const dataDescriptions = container.querySelectorAll(".data-project-description");
    function updateInfo(slide) {
      if(!dataTitles || !dataDescriptions) return;
      titleEl.textContent = dataTitles[slide].textContent;
      descriptionEl.textContent = dataDescriptions[slide].textContent;
    }
    keenSlider.on("slideChanged", (s) => {
      updateInfo(s.track.details.abs % dataTitles.length);
    });

    // Initialize with first slide
    updateInfo(0);
  });


  

  
</script>
